project          = #project_id
public_key_path  = #ssh key path
private_key_path = #ssh key path
disk_image       = "reddit-base"
region           = "europe-west1"
zone             = "europe-west1-b"
target_tags      = "reddit-app"
instance_count   = 2
